*
    font-family: 'Museo Sans Cyrl', sans-serif
    box-sizing: border-box
    
@import "base/variables"
@import "blocks/_promo"
@import "blocks/_header"
@import "blocks/_button"
@import "blocks/_advantage"
@import "blocks/_advantages"
@import "blocks/_carousel"
@import "blocks/_catalog"
@import "blocks/_catalog-item"
@import "blocks/_review"
@import "blocks/_review-item"
@import "blocks/_footer"
@import "blocks/_media"
@import "blocks/_modal"
@import "blocks/_overlay"

.container 
    width: 950px
    margin: 0 auto

.title
    font-size: 30px
    font-weight: 700
    color: #0d0d0d
    text-align: center
    text-transform: uppercase

.title_review
    margin-bottom: 70px


@import "blocks/_consultation"
@import "blocks/_forms"
